<p id="notice"><%= notice %></p>

<h1>你覺得敏迪...</h1>

<table>
  <thead>
    <tr>
      <th>題目</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>
        <td><%= pluralize(topic.votes.count, "vote") %></td>
        <td><%= button_to '我同意', upvote_topic_path(topic), method: :post %></td>
        <td><%= button_to '我不同意', deletevote_topic_path(topic), method: :post %></td>
        <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: '幹什麼刪我的選項' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '要不然你自己加', new_topic_path %>
